@charset "utf-8";
/*共通部分
---------------------------------*/
html{
  font-size: 100%;
}
body{
  font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  color: #432;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/* HEADER
------------------------------- */
.logo {
  width: 210px;
  margin-top: 14px;
}

.gnavi{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    margin:0 0 50px 0;
    list-style: none;
    justify-content: space-between;
}

.gnavi li a{
    display: flex;
   padding:10px 30px;
    text-decoration: none;
    color: #333;
}

.gnavi li{
    display: flex;
    font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    margin-left: 16px;
    list-style: none;
}

.page-header {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 4%;
}

/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.gnavi li a{
    /*線の基点とするためrelativeを指定*/
position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
color:#0481A2;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#0481A2;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
    position:relative;
z-index: 1;
/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/
.slider-item01 {
  background-image: url(../images/slider-item.jpg);
}

.slider-item02 {
  background-image: url(../images/slider-item-tew.jpg);
}  

.slider-item03 {
  background-image: url(../images/slider-item-third.jpg);
}

.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: contain;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

.slick-prev, 
.slick-next {
    position: absolute;
z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #fff;/*矢印の色*/
    border-right: 2px solid #fff;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    position: relative;
    z-index: 3;
        text-align:center;
    margin:-50px 0 0 0;/*ドットの位置*/
    }
    
    .slick-dots li {
        display:inline-block;
    margin:0 5px;
    }
    
    .slick-dots button {
        color: transparent;
        outline: none;
        width:8px;/*ドットボタンのサイズ*/
        height:8px;/*ドットボタンのサイズ*/
        display:block;
        border-radius:50%;
        background:#fff;/*ドットボタンの色*/
    }
    
    .slick-dots .slick-active button{
        background:#333;/*ドットボタンの現在地表示の色*/
    }
    

/*========= レイアウトのためのCSS ===============*/
ul{
    margin:0;
    padding: 0;
    list-style: none;
    }
    
    a{
    color: #fff;
    }
    
    a:hover,
    a:active{
    text-decoration: none;
    }
    
    .wrapper{
    position: relative;
    }

.container{
background:#555;
}

.container p{
padding: 300px 0;
text-align: center;
color: #fff;
}

/*------キャッチコピー部分CSS--------------*/
.disp-img{
   text-align: center;
    appearance:  no-repeat;                /* 画像の繰り返しを指定  */              
    width:auto;                                   /* 横幅のサイズを指定    */
    height: 200pX;                                 /* 縦幅のサイズを指定    */
}

  
  /* 横並び */

.flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    width: 640px; /*画像サイズ指定*/
    margin: 70px 10px 100px 100px ;
    padding: 0;
    position: relative;
  }
  .flex .image img {
    width: 100%;
    height: auto;
  }
  .flex .right {
    margin: 70px 30px 100px 100px;
    padding: 0;
  }

  .sample-box {
    position: relative;
}

.number {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    position: absolute;
    top: 0;
    left: 89%;
}


.ac-illust1{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 90%;
  right: 65%;
}

.ac-illust3{
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 30%;
  right: 45%;
}


.ac-illust4{
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  bottom: 90%;
  left: 10%;
}

.ac-illust6{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 80%;
  right: 0;
}

.ac-illust7{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 80%;
  left: 70%;
}


  .flex .title {
    margin: 20px 0 30px;
    padding: 0;
    font-weight: bold;
    font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    font-size: 35px;
    display: inline-block;
    background-image: linear-gradient(transparent 55%, rgb(252, 252, 138) 55%);
    padding-bottom: .10rem;
   
  }
  .flex .text {
    font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    margin: 10px 0 0;
    padding: 10px;
    line-height: 2px;
    text-align: center;
  }

  .under1 {
    font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;  
    background: linear-gradient(transparent  60%, #fcc7f3  60%);
  }

  .example {
	position: relative;
}
.example::before {
	content: "";
	background-image: linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px),
	linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px),
	linear-gradient(to bottom, #000, #000 3px, transparent 3px, transparent 8px),
	linear-gradient(to bottom, #000, #000 3px, transparent 3px, transparent 8px);
	background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
	background-position: left top, left bottom, left top, right top;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}


 /* 横並び */

 .flex1 {
    display: flex; /*横並び*/
  }
  .flex1 .image {
    width: 640px; /*画像サイズ指定*/
    margin: 50px 90px 100px 100px ;
    padding: 0;
    position: relative;
  }
  .flex1 .image img {
    width: 100%;
    height: auto;
  }
  .flex1 .left {
    margin: 60px 10px 50px 100px;
    padding: 0;
  }

  .sample-box1 {
    position: relative;
}

.number1 {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    position: absolute;
    top: 0;
    left: 0;
}

.number2 {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 0;
  right: 88%;
}


.ac-illust2{
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 0;
  right: 0;
}

.ac-illust5{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 95%;
  right: 0;
}

.ac-illust8{
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 70%;
  right: 95%;
}

  .flex1 .title {
    margin: 30px 0 30px;
    padding: 0;
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    padding-bottom: .10rem;
    line-height: 5px;
   
  }

  .under {
    font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;  
    background: linear-gradient(transparent 55%, rgb(252, 252, 138) 55%);
  }

  .flex1 .text {
    font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    margin: 10px 0 0;
    padding: 10px;
    line-height: 2px;
    text-align: center;
  }

  .under1 {
    font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;  
    background: linear-gradient(transparent  60%, #fcc7f3  60%);
  }

  .example {
	position: relative;
}
.example::before {
	content: "";
	background-image: linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px),
	linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px),
	linear-gradient(to bottom, #000, #000 3px, transparent 3px, transparent 8px),
	linear-gradient(to bottom, #000, #000 3px, transparent 3px, transparent 8px);
	background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
	background-position: left top, left bottom, left top, right top;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

/* Button */
.btn {
  font-family: 'Sawarabi Mincho', sans-serif;
  display: inline-block;
  padding: 1.25rem 3.25rem;
  font-size: 1.375rem;
  text-align: center;
  width: 100%;
}
.btn-secondary {
  color: rgb(255, 255, 255);
  background: #449c7f;
}
.btn-secondary:hover {
  background: #5c917f;
}

/*
FOOTER
================================================ */
footer {
  background: #3fdce7;
  color: rgba(73, 250, 206, 0.8);
  padding: 3.5rem 1rem;
  text-align: center;
  font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
}
footer .btn {
  font-family: "Yu ]gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  margin-bottom: 3.5rem;
  width: auto;
  text-decoration: none;
}
.footer-nav {
  display: flex;
  justify-content: center;
}
.footer-nav li {
  margin: 0 .75rem;
}
.footer-nav a:hover {
  color: rgb(128, 119, 119);
}
.footer-nav a {
  text-decoration: none;
}


/* モバイル版
----------------------------------*/
@media (max-width: 600px) {
  .page-title{
      font-size: 2.5rem;
  }
  .page-header {
      flex-direction: column;
      align-items: center;
  }

  .flex{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
  }
  .item+.item{
    margin-left:1.0em;
  }

   /* HEADER */
  .gnavi {
      font-size: 1rem;
      margin-top: 10px;
  }
  .gnavi li {
      margin: 0 20px;
  }

/* Footer */
.footer-nav {
  display: flex;
  justify-content: center;
}
.footer-nav li {
  margin: 0 .75rem;
}
.footer-nav a:hover {
  color:rgb(128, 119, 119) ;
}  
}
